.services-heading {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .services-heading::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -7px;
    left: 0;
    background-color: #FFBE3D; /* Change to your preferred underline color */
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .services-heading:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  